.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  font-size: 0.9rem;
  color: #1e293b;
  font-weight: 700;
  -ms-overflow-style: none;
}
.breadcrumbs::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome/Safari */
}

.segment {
  display: inline-flex;
  align-items: center;
}

.separator {
  margin: 0 10px;
  color: #94a3b8; /* Light gray */
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.link {
  transition: color 0.2s;
  white-space: nowrap;
}

.link:hover {
  color: #2563eb; /* Blue hover */
  text-decoration: underline;
}

.current {
  color: #475569;
  font-weight: 700;
  white-space: nowrap;
}
