.hamburgerBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .hamburgerBtn {
    display: flex;
  }
}
